<body>

 <nav class="navbar navbar-expand-lg navbar-light">
<!--  <a class="navbar-brand" href="#">Navbar</a>-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
    <div class="navbar-nav nav nav-pills">
      <a class="nav-item nav-link" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="<%= instructors_path %>">Instructors</a>
      <a class="nav-item nav-link" href="<%= students_path %>">Students</a>
      <a class="nav-item nav-link" href="<%= courses_path %>">Courses</a>
       <%= link_to "Cohorts",  cohorts_path, class: "nav-item nav-link" %>
       <%= link_to "Instructor-Cohorts",  instructor_cohorts_path, class: "nav-item nav-link" %>
       <%= link_to "Student-Cohorts",  student_cohorts_path, class: "nav-item nav-link" %>
    </div>
  </div>
</nav>
<br>

<div class="atag">  
    <h4><a href="<%= new_instructor_path %>">Create new Instructor</a></h4>

    <h4>
        <%= link_to "Change Instructor's Cohort", new_instructor_cohort_path %>
    </h4>
</div>

<!--<h4><a href="<= new_instructor_url %>">Create new Instructor  url</a></h4>-->
<!--These are helper  new_path and new_url-->


            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <br>
                         <h2>Instructors Table</h2>
                       

                    </div>
                </div>
                <!-- /. ROW  -->
                <hr />

                <div class="row">
                    <div class="col-md-12">
                        <!-- Advanced Tables -->
                        <div class="panel panel-default">
                           
                            <div class="panel-body">
                                <div class="table-responsive">
                                    
                                   
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                            <tr>

                                                <th>Select</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>DOB</th>
                                                <th>Highest Education</th>
                                                 <th>Salary</th>
                                                <th>Student Full Name</th>
                                                <th>Courses Taken</th>
                                                <th>Cohorts Enrolled</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                                <th>Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                           <% @instructors.each do |my_instructor| %>
                                                
                                                <tr class="main-instructor">
                                                    <td><input type="checkbox" class="my_chbox"></td>
                                                    <td><%= my_instructor.first_name %></td>
                                                    <td><%= my_instructor.last_name %></td>
                                                    <td><%= my_instructor.DOB %></td>
                                                    <td><%= my_instructor.highest_education %></td>
                                                    <td><%= my_instructor.salary %></td>
                                                    <td>
                                                      <ul><% my_instructor.students.each do |stud| %>
                                                          <li><%=stud.full_name %></li>
                                                        <% end %>   
                                                      </ul>
                                                    </td>
                                                    <td>
                                                      <ul><% my_instructor.courses.each do |course| %>
                                                          <li><%= course.name %></li>
                                                        <% end %>   
                                                      </ul>
                                                    </td>
                                                    <td>
                                                      <ul><% my_instructor.cohorts.each do |cohort| %>
                                                          <li><%= cohort.name %></li>
                                                        <% end %>   
                                                      </ul>
                                                     </td>
                                                     <td> <a href="<%= edit_instructor_path(my_instructor) %>">Edit</a></td>
         <td><%= link_to 'Delete', my_instructor, method: :delete, remote: true, class: 'delete-instructor' %></td>   
                                                     
                                                    <td><%= my_instructor.description %></td>
                                                </tr>
                                            
                                           <% end %>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Select</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>DOB</th>
                                                <th>Highest Education</th>
                                                <th>Salary</th>
                                                <th>Student Full Name</th>
                                                <th>Courses Taken</th>
                                                <th>Cohorts Enrolled</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                                <th>Description</th>
                                            </tr>
                                        </tfoot>

                                    </table>
                                </div>

                            </div>
                        </div>
                        <!--End Advanced Tables -->
                    </div>
                </div>
                <!-- /. ROW  -->
            </div>
            <!-- /. PAGE INNER  -->
        </body>









